<mat-drawer-container class="example-container" autosize>
    <mat-drawer opened class="example-sidenav" mode="side">
        <mat-selection-list #shoes [multiple]="false">
            <mat-list-option *ngFor="let menu of menus" [value]="menu">
                <a mat-list-item [routerLink]="menu.link" routerLinkActive="router-link-active">
                    <div mat-list-item-content class="d-flex align-items-center text-white">
                        <mat-icon mat-list-icon>{{ menu.icon }}</mat-icon>
                        <div mat-line>{{menu.name}}</div>
                    </div>
                </a>
            </mat-list-option>
        </mat-selection-list>
    </mat-drawer>

    <div class="example-sidenav-content">
        <div class="container">
            <router-outlet></router-outlet>
        </div>
    </div>

</mat-drawer-container>