.component-page-header {
    display: flex;
    align-items: center;
}

.docs-primary-header {
    background: #3f51b5;
}

.docs-primary-header {
    padding-left: 20px;
}

.sidenav-toggle {
    padding: 0;
    margin: 8px;
    min-width: 64px;
    display: none;
    @media (max-width: 959px) {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.sidenav-toggle mat-icon {
    font-size: 30px;
    height: 64px;
    width: 64px;
    line-height: 64px;
    color: #fff;
}

.docs-primary-header h1 {
    font-weight: 300;
    margin: 0;
    padding: 28px 8px;
    font-size: 20px;
    color: #fff;
    outline: none;
}