<header class="docs-primary-header component-page-header ">
    <button mat-button="" class="mat-focus-indicator sidenav-toggle mat-button mat-button-base">
        <span class="mat-button-wrapper">
            <mat-icon  role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">menu</mat-icon>
        </span>
        <span matripple="" class="mat-ripple mat-button-ripple"></span>
        <span class="mat-button-focus-overlay"></span>
    </button>
    <h1>Autocomplete </h1>
</header>